form {
    text-align: left;
    margin-right: 90%;
}
input {
    width: 200px;
}
textarea {
    width: 200px;
    margin-bottom: 5%;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
button {
    margin-left: 40%;
}