p {
}
img {
    max-width: 60%;
    border: black;
    border-style: solid;
    border-width: 3px;
}
a {
    color: black;
}
div {
    display: flex;
    flex-direction: row;
    margin-left: 70px;
}
figcaption {
    margin-right: 34%;
}