img {
    max-width: 350px;
    border: black;
    border-style: solid;
    border-width: 3px;
}
a {
    color: black;
}

p {
    margin-left: 105px;
}
div {
    display: flex;
    flex-direction: row;
    margin-left: 70px;
}
figcaption {
    margin-right: 34%;
}

@media only screen and (max-width: 600px) {
    div {
        flex-direction: column;
        margin: 0px;
    }
    p {
        margin-left: 0px;
    }
}